<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema_Gestion_Negocio_ASP.NET_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sistema_Gestion_Negocio_ASP.NET_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/EstiloNavbar.css" />
</head>
<body>
    <div class="navBarContainer">
        <!-- Sidebar -->
        <nav class="sidebar">
            <h2 class="logo">Mi Panel</h2>
            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
            @if (User.IsInRole("AdministradorGeneral"))
            {
            <a asp-area="" asp-controller="Home" asp-action="AdminGeneralVista_Prueba">ADMIN GRAL</a>
            }
            @if (User.IsInRole("AdministradorGeneral") || User.IsInRole("AdministradorNegocio"))
            {
                <a asp-area="" asp-controller="Home" asp-action="AdminNegocioVista_Prueba">ADMIN NEGOCIO</a>
            }
            <a asp-area="" asp-controller="Home" asp-action="EpleadoVista_Prueba">EMPLEADO</a>
            
            
            
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Productos</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Ventas</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Estadísticas</a>
            <a asp-area="" asp-controller="Login" asp-action="CerrarSesion">Cerrar sesión</a>
        </nav>

        <!-- Contenido principal y footer -->
        <div class="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2025 - Sistema_Gestion_Negocio_ASP.NET_MVC -
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
