@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.UsuarioViewModel

<form asp-action="CambiarNombreEmpleado" asp-controller="Empleado" method="post">

    <input type="hidden" id="idEmpleado" name="id" />

    <div class="mb-3">
        <label for="nombre" class="form-label">Nuevo nombre </label>
        <input name="nuevoNombre" class="form-control" />
        
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>


