@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.UsuarioViewModel

<form asp-action="EliminarEmpleado" asp-controller="Empleado" method="post">

    <input type="hidden" id="idEmpleado" name="id" />

    <p id="textoConfirmacion">¿Desea eliminar a este empleado?</p>

    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
