
@{
    ViewData["Title"] = "EmpleadoRegistradoConExito";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow p-4 text-center" style="max-width: 600px; width: 100%;">
        <h2 class="mb-3 text-success">¡Tu usuario fue registrado con exito !</h2>
    </div>
</div>
