
@{
    ViewData["Title"] = "EmpleadoRegistradoConExito";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="alert-success" role="alert">

    <h2>¡Tu usuario fue registrado con exito !</h2>

</div>

