
@{
    ViewData["Title"] = "CorreoEnviadoCambiarClave";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>CORREO ENVIADO PARA RESTABLECER CONTRASEÑA</h1>
<p>Por favor revise su casilla de correo electronico</p>

