@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <div class="login-container">
        <div class="login-box">
        
            <div class="img-container">
                <img class="logo-login" src="~/img/NegociAppLogoNegro.png" />
            </div>
       
            <h2>Iniciar sesión</h2>

            <form method="post" asp-action="Login" asp-controller="Login">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input asp-for="correo" type="email" id="email" />
                    <span asp-validation-for="correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input asp-for="clave" type="password" id="password"/>
                </div>

                <button type="submit" class="btn-login">Ingresar</button>
            </form>

            <div class="extra-links">

                <a asp-action="RecuperarClave" asp-controller="Login">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>


