@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.RestablecerClaveViewModel
@{
    ViewData["Title"] = "Recuperar Clave";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="login-container">

    <div class="login-box">

        <div class="img-container">
            <img class="logo-login" src="~/img/NegociAppLogoNegro.png" />
        </div>

        <h3>Restablecer Contraseña</h3>

        <form asp-action="RecuperarClave" method="post">
            <div class="form-group">
                <label for="Correo">Correo Electrónico</label>
                <input asp-for="Correo" class="form-control" id="Correo" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-login">Enviar enlace para restablecer contraseña</button>
        </form>

    </div>

</div>




