@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.RestablecerClaveViewModel
@{
    ViewData["Title"] = "RestablecerClave";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Restablecer Contraseña</h2>

<form asp-action="RestablecerClave" method="post">
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label for="NuevaContraseña">Nueva Contraseña</label>
        <input asp-for="NuevaClave" class="form-control" type="password" id="nuevaContraseña" />
        <span asp-validation-for="NuevaClave" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmarContraseña">Confirmar Contraseña</label>
        <input asp-for="ConfirmarClave" class="form-control" type="password" id="confirmarContraseña" />
        <span asp-validation-for="ConfirmarClave" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Nueva Contraseña</button>
</form>

