
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="error-container">
    <div class="error-box">
        <img src="~/img/NegociAppLogoNegro.png" class="error-logo" alt="Logo" />
        <h1>¡Uy! Algo salió mal...</h1>
        <p class="lead">Ocurrio un error al realizar la acción, por favor vuelva a intentar.</p>
    </div>
</div>

