
@{
    ViewData["Title"] = "SesionActiva";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="error-container">
    <div class="error-box">
        <img src="~/img/NegociAppLogoNegro.png" class="error-logo" alt="Logo" />
        <h1>¡Ya hay una sesion activa!</h1>
        <p class="lead">Cerra sesión antes de ingresar con otra cuenta.</p>
    </div>
</div>

