
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>Inicio</h1>

<a asp-controller="Invitado" asp-action="RegistrarInvitado" >Continuar como invitado</a>
<a asp-controller="Login" asp-action="Login">Iniciar sesion</a>