
.filtro-select {
    max-width: 240px;
    min-height: 42px;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(103, 58, 183, 0.1);
}


.btn-filtrar {
    background-color: #673AB7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

    .btn-filtrar:hover {
        background-color: #5e35b1;
        opacity: 0.95;
    }

.card .card-header {
    background-color: #ede7f6;
    color: #4a148c;
    font-weight: bold;
    border-bottom: 1px solid #d1c4e9;
}


.estadisticas-header {
    margin-bottom: 30px;
}
