* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


.titulo-seccion {
    font-size: 2rem;
    font-weight: 700;
    color: #673AB7;
    margin-bottom: 20px;
    border-bottom: 2px solid #673AB7;
    padding-bottom: 5px;
}

.navBarContainer {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #673AB7;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .sidebar .logo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .sidebar a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.2s ease;
    }

        .sidebar a:hover {
            background-color: #FFFFFF;
            color: #673AB7;
            border: 1px solid #673AB7;
        }




.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: auto;

}

main {
    flex: 1;
}

.sidebar .cerrar-sesion {
    margin-top: auto;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px; 
    overflow: hidden;

}

.img-logo {
    width: auto;
    height:180px;
    object-fit: contain;
    padding-bottom:25px;
    
}

.user-info {
    background-color: #ede7f6; /* Violeta claro */
    color: #673AB7;
    font-weight: 600;
    border-radius: 8px;
}



.toggle-sidebar {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #673AB7;
    z-index: 9999;
}

@media screen and (max-width: 768px) {
    .toggle-sidebar {
        display: block;
    }

    .navBarContainer {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #673AB7;
        transition: left 0.3s ease;
        z-index: 999;
        display: flex;
        flex-direction: column;
        overflow-y: auto; 
    }

        .sidebar.active {
            left: 0;
        }

        .sidebar .logoContainer {
            padding: 1rem;
            text-align: center;
        }

        .sidebar a {
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            display: block;
        }

            .sidebar a:hover {
                background-color: #5E35B1;
            }

    .main-content {
        padding: 20px;
    }
}
