




.titulo-negocio {
    background-color: #673AB7;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0;
}


.card.card-negocio {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.card.card-negocio-detalle {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .card.card-negocio-detalle:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 18px rgba(103, 58, 183, 0.25);
    }


.card-body.card-body-negocio h3 {
    font-size: 1.4rem;
    color: #673AB7;
}


.titulo-empleados {
    background-color: #673AB7;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0;
}

.btn-agregar-empleado{

    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

.card.card-empleados-wrapper {
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

    .card.card-empleados-wrapper .modal-header{

        background-color: #673AB7;
    }
    .card.card-empleados-wrapper .modal-title {
        color: white;
        font-weight:700;
    }


.card-body.card-empleados-body {
    padding-left: 1rem;
    padding-right: 1rem;
}


.card-empleado {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 8px;
}

    .card-empleado:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 18px rgba(103, 58, 183, 0
