
@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}


<div class="card">


    <div class="mb-3">
        <label>Desde: <input type="date" id="desde" /></label>
        <label>Hasta: <input type="date" id="hasta" /></label>
        <button id="btnFiltrar" class="btn btn-primary">Filtrar</button>
    </div>


    <div class="card-body">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col">Forma de pago</th>
                    <th scope="col">Usuario</th>
                    <th scope="col"> </th>
                    

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="resumenVentas" class="mt-3"></div>


    </div>
</div>

<script src="/js/mostrarVentas.js" "></script>
<script>
    const negocioId = "@ViewBag.negocioId";
</script>