
@{
    ViewData["Title"] = "AdminNegocioRegistradoConExito";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow p-4 text-center" style="max-width: 500px; width: 100%;">
        <h2 class="mb-3 text-success">¡Usuario registrado con exito !</h2>
        <p>Ya registramos tu usuario, ahora continuemos con tu negocio.</p>
        <a asp-action="RegistrarNegocio" asp-controller="Negocio" asp-route-token="@Context.Request.Query["token"]" class="btn btn-primary" style="background-color:#673AB7">Registrar negocio</a>
    </div>
</div>