@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "AgregarNegocio";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}


<div class="card card-agregar-negocio">
    <div>
        <h1 class="titulo-agregar-negocio">Agregar negocio</h1>
    </div>
    

    <div class="descripcion-agregar-negocio">
        <p>Ingrese el correo del cliente y se le enviará un link para completar el registro de su usuario y de su negocio.</p>
    </div>


    <div class="card-body">
        <form method="post" asp-action="AgregarNegocio" asp-controller="Negocio" class="form-agregar-negocio">

            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico del cliente</label>
                <input asp-for="correo" type="email" id="email" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>


