@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.NegocioViewModel
@{
    ViewData["Title"] = "Editar Negocio";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<div class="registro-container">
    <div class="registro-box">
        <h2>Editar negocio</h2>

        <form method="post" asp-action="EditarNegocio" asp-controller="Negocio">

            <input type="hidden" name="idNegocio" value="@ViewBag.negocioId" />

            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input asp-for="nombre" type="text" id="name" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Direccion">Direccion</label>
                <input asp-for="direccion" type="text" id="address" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="disableSelected">Nombre</label>
                <select asp-for="rubroId">

                    <option value="0" disabled selected>Selecione un rubro</option>
                    @foreach (var rubro in Model.rubros)
                    {

                        <option value="@rubro.IdRubro">@rubro.Nombre</option>
                    }

                </select>
                <span asp-validation-for="rubroId" class="text-danger"></span>
            </div>

            

            <button type="submit" class="btn-continuar">Aceptar</button>
        </form>

    </div>
</div>

