
@{
    ViewData["Title"] = "NegocioRegistradoConExito";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="alert-success" role="alert">

    <h2>¡Tu negocio fue registrado con exito !</h2>
    <p>Felicitaciones! tu negocio ya forma parte de nuestro sistema, inicia sesion y comenza a disfrutar el servicio.</p>
    <a asp-action="Login" asp-controller="Login" class="btn btn-primary">Registrar negocio</a>


</div>

